<div class="col-md-12">
  <div class="film">
    <%= link_to("New film", new_film_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>影名</td>
        <td>电影描述</td>
        <td>创建者</td>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
      <tr>
      <td>#</td>
        <td><%= link_to(film.title, film_path(film)) %></td>
        <td><%= simple_format(film.description) %></td>
        <td><%= film.user.email %> </td>
      <td>
          <% if current_user && current_user == film.user %>
          <%= link_to("编辑", edit_film_path(film),    class: "btn btn-sm btn-default")%>
          <%= link_to("删除", film_path(film),     class: "btn btn-sm btn-default",
                       method: :delete, data: { confirm: "你确定吗" } )%>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
