<div class="col-md-12">
  <div class="film">

     <%= link_to("发表评论", new_film_post_path(@film), class: "btn btn-default pull-right")%>
    <% if current_user && current_user == @film.user %>
    <%= link_to("编辑", edit_film_path(@film), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
   <h2><%= @film.title %></h2>
   <p><%= @film.description %></p>

  <table class="table">
    <thead>
     <tr>
        <th>影名</th>
        <th>创建者</th>
       <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td><%= post.user.email %></td>
          <td><%= post.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @posts %>
  </div>
 </div>
